
/* 全局body左右外边距60px */
body {
    margin: 0 90px 0 60px !important;
  }
/* 顶部导航栏 item */
.nav_item_pading{
  padding: 0 0 0 0 !important;
  text-align: center;
}
.nav_item_right_margin{
  margin: 0 90px 0 0 !important;
}
.nav_item_search{
  /* margin: 0 0 0 210px !important; */
  padding: 5 5 5 5 !important;
}
/* 右浮动 */
.float_right{
  float: right !important;
} 

.el-tabs__nav_my {
	white-space: nowrap;
	position: relative;
	transition: -webkit-transform .3s;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	transition: transform .3s,-webkit-transform .3s;
	float: left;
	z-index: 2;
}